body,
main {
  padding-top: 70px;
  font-size: 16px;
}

main {
  height: 1000px;
  margin: 25px 0;
}

.colors {
  background: powderblue;
}

.colors-one,
.colors-one h2 {
  background: cadetblue;
  color: #000000
}

.colors-two,
.colors-two h2 {
  background: cadetblue;
  color: #000000;
}

.colors-three,
.colors-three h2 {
  background: cadetblue;
  color: #000000;
}

.bigger-font p {
  font-size: 20px
}
