.skip-links {
  position: absolute;
  top: -50px;
  left: 0;
}

.skip-links:focus {
  top: 0;
}

.skip-to-main {
  position: absolute;
  top: -50px;
  left: 0;
  padding: 10px;
}

.skip-to-main:focus {
top: 80px;
}
